@media only screen and (max-width: 768px ) {
    .header-tablet{
        border-bottom: rgb(207, 203, 203) 1px solid;
    }
    .dropbtn,#down,.mainhelp input, .mainhelp textarea, .mainhelp label,.please{
        width: 600px;
    }
    .mainhelp label{
        padding: 19px 210px;
     }
     .getting{
        left: 40px;
        gap: 20px;
     }
     .helpme input{
        width: 400px;
     }
     .termsofuse{
        width: 85%;
     }
     .maincontact img{
        width: 150px;
        height: 150px;
     }
     .contact,.contact a{
        width: auto;
        line-height: 1.5;
        margin: 50px 0;
        font-size: 14px;
    }
    .contact h1{font-size: 40px;}
    .lr{
        margin-bottom: 205px;
    }
}
@media only screen and (max-width: 480px ) {
    .gen-nav{display: block;}
    .termsofuse{font-size: 13px;}
    .submit{gap: 37px;}
    .media{gap: 12px;}
    .headerhelp img, .headerfeedback img{
        width: 60px;
        height: 50px;
    }
    .dropbtn,#down,.mainhelp input, .mainhelp textarea, .please, .mainhelp label{width: 450px;}
    .mainhelp label{
        padding: 19px 135px;
     }
     .helpme input{width: 70%;}
     .getting{
        gap: 7px;
        left: 10px;
    }
    .getting h3{font-size: 13px;}
    .getting div{width: 110px;}
    .maincontact img{display: none;}
    .contact{
        margin: 40px 10px;
        font-size: small;
    }
    .contact a{font-size: small;}
    .maincontact h1{font-size: 30px;}
}