
.payinfo{
    margin: 30px 220px 150px 220px;
    line-height: 1.4;
}
.payinfo a{
    color: #00ADB5;
    font-size: medium;
    text-decoration: none;
}
.pay button{
    border: none;
    color: #00ADB5;
    font-weight: bold;
    background-color: #FAF9F6;
    cursor: pointer;
}
.learn{
    display: flex;
    gap: 10px;
    justify-content: end;
    color: #00ADB5;
}
.fa-arrow-right{
    padding-top: 3px;
}
#nt{
    width: 40%;
    height: 100%;
    overflow: auto;
    padding: 0 20px;
}
#dal,#dada,#daldal,#ladlad{
    padding-top: 50px;
    padding-bottom: 50px;
}
.dont{
    display: flex;
    gap: 10px;
}
.dont h1{
    color: #00ADB5;
    font-size: 30px;
    padding-top: 10px;
}
.make{
    margin-top: 15px;
    width: 203px;
    text-align: center;
    padding: 20px 0;
    background-color: #FAF9F6;
}
#nt table{
    margin: 20px 0;
    padding: 20px 10px;
    background-color: #FAF9F6;
}
#nt td{
    width: 150px;
    border-color: #FAF9F6;
}
.ap button{
    all: unset;
    cursor: pointer;
}
.reward{
    height: 200px;
    overflow: auto;
    background-color: #EEEEEE;
    padding: 20px 15px 10px 40px;
    margin-bottom: 10px;
    line-height: 1.3;
}
.reward li{
    font-size: 14px;
}
.a{
    border-radius: 100px;
    background-color: #00ADB5;
    color: white;
    height: 30px;
    width: 30px;
    font-weight: bold;
}
#modcon{
    width: 40%;
    height: 100%;
    padding: 20px;
    overflow: auto;
}
.ads{
  font-size: 14px;
  line-height: 1.4;
}
.ads a{
    color: #00ADB5;
    text-decoration: none;
    font-size: 14px;
}
.texta{
    border: none;
    font-size: medium;
    resize: none;
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

.texta::placeholder{
    font-size: medium;
}
.down{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 19px 10px;
    border-top: rgb(207, 203, 203) 1px solid;
}
.z{
    display: flex;
    gap: 10px;
    font-size: large;
}
.switch {
    position: relative;
    display: inline-block;
    width: 42px; 
    height: 24px; 
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px; 
    width: 18px; 
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; 
  }
  
  input:checked + .slider {
    background-color: #00ADB5;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(18px); 
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  .slider.round {
    border-radius: 24px; 
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #sult{
    width: auto;
    height: 350px;
    background-color: #fff;
    
    font-size: small;
    display: flex;
   overflow: auto;
   border: rgb(207, 203, 203) 1px solid;
   gap: 8px;
   padding: 8px;
   border-radius: 5px;
  }
  .nail{
    width: 261px; 
    height: 300px;
  }

  .dropbtn {
    cursor: pointer;
    background-color: white;
    border: none;
    display: flex;
  }
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
    box-shadow: none;
    border-radius: 0;
    border: rgb(207, 203, 203) 1px solid;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: small;
  }
  .ment{
    display: flex;
    justify-content: space-between;
  }
.meh{
    color: gray;
    font-size: small;
}
.sched{
  display: grid;
  grid-template-areas: '1 2 3 4';
  gap: 10px;
}
.check{
  margin: 20px 0;
  padding-top: 20px;
  border-top: rgb(207, 203, 203) 1px solid;
  display: flex;
  gap: 12px;
  font-size: 15px;
  line-height: 1.4;
}
.masc{
  font-size: small;
  color: gray;
  text-align: justify;
}
#c{
  background-color: #00ADB5;
  cursor: pointer;
}
.hd{
  background-color: #fff;
  font-size: medium;
  cursor: pointer;
  border: 0;
  padding: 10px;
}
.hd:hover{
  color: #00ADB5;
}
.love{
  width: 680px;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 275px;
}
