*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tocenter{
    display: flex;
    justify-content: center;
  }
.dashboard{
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #FAF9F6;
  position: absolute;
 z-index: 1;
 left: 200px;
 right: 0;
}
nav{
  width: 200px;
  height: 100vh;
  background-color: #00ADB5;
  padding: 20px 10px;
  align-items: center;
  text-align: center;
  position: fixed;
  left:0;
  z-index: 1;
}
nav img{
  margin: 15px 0;
}
nav a, .icons{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.ick, .ick a,.ick .icons{
  background-color: #009CA6;
  border-radius: 5px;
  color: white;
}
nav li{
  list-style-type: none;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  cursor: pointer;
  margin: 10px;
}
nav li:hover a,nav li:hover,nav li:hover .icons{
  background-color:  #009CA6;
  color: white;
  border-radius: 5px;
}

.content{
  width:100%;
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 25px;
  background-color: white;
  border-bottom: rgb(207, 203, 203) 1px solid;
  position: sticky;
  top:0;
  z-index: 0;
}
.cool{
  display: flex;
  gap:20px;
  align-items: center;
}

.cool .admin{
  display: flex;
  align-items: center;
  gap:15px;
}
.admin .name p{
font-size: 12px;
color: rgb(163, 163, 163);
padding-top:3px;
}
.search-bar{
  background-color:white;
  display: flex;
  align-items: center;
  border-radius: 50px;
 padding: 8px;
 border: rgb(207, 203, 203) 1px solid;
 }
 .search-bar input{
     background: transparent;
     border: 0;
     outline: none;
     color: black;
 }
 .search-bar button{
   background-color: #fff;
   border: none;
 }
.admin img{
  height: 35px;
  width:35px;
  border-radius: 50%;
}
.admin .name{
  padding-right: 50px;
  padding-top:5px;
}

.cool i{
  font-size: 22px;
  padding-top: 5px;
  color: black;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 15px 35px 15px 30px;
}

.head .name-date{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.name-date .date{
  background-color: white;
  border-radius: 40px;
  padding: 4px 10px 4px 10px;
  text-align: center;
  font-size: 14px;
  color: rgb(165, 165, 165);
}
.head .export-info{
  display: flex;
  gap: 6px;
  align-items: center;
}

.export-info button{
  background-color: white;
  border: 1px solid rgb(202, 202, 202);
  color: black;
  text-align: center;
   display: flex;
  justify-content: center;
  align-items: center;
   gap:5px;
  font-size: 15px;
  margin-bottom: 5px;
  padding: 7px 15px 7px 15px ;
}

.export-info button i{
  font-size: 10px;
}
.export-info button:hover{
  cursor: pointer;
}

.export-info.dropdown{
  width:140px;
  
  }
  .dropdown .dropBtn{
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    color: black;
    text-align: center;
    width:150px;
     display: flex;
    justify-content: center;
    align-items: center;
     gap:10px;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 7px;
  }
  .dropBtn i{
    font-size: 13px;
  }

  .dropdown .other-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid gray;
    position: absolute;
    background-color: white;
    gap:10px;
  }
  .dropBtn:hover{
    cursor: pointer;
  }
  .other-content .option{
    padding:5px 6px 5px 6px;
    text-decoration: none;
    color: black;
    
    font-size: 14px;
  }
  .other-content .option:hover{
    background-color: rgb(184, 176, 176);
  }
  
  .drop{
    display: none;
  }

.totals{
  display: flex;
  gap:16px;
  padding: 20px 20px 20px 20px;
}
.box{
  display: flex;
  width: 290px;
  background-color: white;
  border: rgb(207, 203, 203) 1px solid;
  padding: 30px 30px 20px 30px;
  align-items: center;
  border-radius: 5px;
  gap:20px;
  box-shadow: 5px 10px 15px #888888;
}
.box .content{
  display: flex;
  gap: 10px;
}
.content .amount{
  font-size: 20px;
  font-weight: bold;
}
.content .cate{
 border-radius: 50%;
  background-color: #00ADB5;
  width: 30px;
  align-items: center;
  text-align: center;
 padding: 5px;
 margin-bottom: 10px;
}
.content h4{
  font-size: 16px;
}
.cate i{
  font-size: 15px;
  color: #FAF9F6;
 
}
.content .last{
  font-size: small;
  color: gray;
  padding-top: 12px;
}

.box .progress{
position: relative;
height: 90px;
width: 90px;
border-radius: 50%;
color: black;
background: rgb(247, 247, 247) linear-gradient(to right,
transparent 50%, var(--clr)0); 
}
.progress h4{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%, -50%);
font-size: 15px;
z-index:1;
font-weight: 500;
}
.progress::before{
content: '';
display: block;
height: 100%;
margin-left: 50%;
transform-origin: left;
border-radius: 0 100% 100% 0/50%;
}
.progress::after{
content: '';
position: absolute;
inset: 6px;
border-radius: 50%;
background: white;
}
.container .progress::before{
background: var(--clr);
transform: rotate(calc(((var(--i) - 50) * 0.01turn )));
}

.recents{
display: flex;
padding: 30px 30px 30px 30px;
gap: 20px;
}
.recents .new{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: rgb(207, 203, 203) 1px solid;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 3px 9px 15px #888888;
}
.new .title{
  display: flex;
  align-items: center;
  text-align: center;
gap: 10px;
}

.new th{
  font-size: 16px;
}
.new td{
  border-bottom: rgb(207, 203, 203) 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

.new .series{
  display: flex;
  justify-content: space-evenly;
  border-bottom: rgb(207, 203, 203) 1px solid;
}
.series span{
  font-size: 15px;
  color: #009CA6;
  font-weight: bold;
  padding: 5px;
}
.new button{
  background-color: #009CA6;
  border: rgb(207, 203, 203) 1px solid;
  outline: none;
  padding: 6px;
  border-radius: 4px;
  color: white;
}
.totals-recent-notif{
  display: flex;
align-items: center;
}
.totals-recent{
  display: flex;
  flex-direction: column;
}

.recents .notif{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
 width: 240px;
 padding: 5px;
  border: rgb(207, 203, 203) 1px solid;
 
  border-radius: 7px;
  box-shadow: 3px 9px 15px #888888;
}
.notif .reports-icon{
  display: flex;
align-items: center;
gap: 10px;
padding: 20px 0px 0px 10px;

}
.notif h3{
  padding-bottom: 10px;
}
.notif .report{
  display: flex;
  gap: 15px;
  padding: 0px 0px 5px 15px;
 
  border-bottom: rgb(207, 203, 203) 1px solid;
 
}
.notif img{
  width: 40px;
 height: 40px;
 border-radius: 50%;
}
.report .name-mess{
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.name-mess p{
  font-size: 15px;
  color: rgb(110, 110, 110);
}
.name-mess .time-date{
  font-size: 12px;
  color: rgb(179, 179, 179);
}

.users{
  display: flex;
  flex-direction: column;
 padding: 30px 50px;

}

.users .user-table {
  border: rgb(207, 203, 203) 1px solid;
  background-color: white;
  padding-bottom: 40px;
}
.reader-new .reader-creator{
  gap:14px;
  padding: 15px 0px;
}
.user-table .reader-new{
   display: flex;
   justify-content: space-between;
   border-bottom: rgb(207, 203, 203) 1px solid;
   align-items: center;
   padding-right: 20px;
}
.reader-new button{
  width: 80px;
  background-color: white;
  border: rgb(184, 184, 184) 1px solid;
}


.reader-creator a{
text-decoration: none;
color: Black;
padding: 15px;
font-weight: bold;
}
.reader-creator .chose{
  background-color: #009CA6;
  color: white;
  font-weight: bold;
}
.reader-new .drop-new{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.user-table table{
  width: 100%;
  padding: 0px 10px;
}
.user-table th{
 
  border-bottom: rgb(207, 203, 203) 1px solid; 
  border-collapse: collapse;
  padding: 14px;
}
.user-table .reader {
  background-color: #00ADB5;
  font-size: 14px;
  color: white;
  border-radius: 50px;
padding:5px 0;

}
.user-table .creator {
  background-color: black;
  font-size: 14px;
  color: white;
  border-radius: 50px;
padding:3px;

}
.user-table td{
  border-bottom: rgb(207, 203, 203) 1px solid;
  border-collapse: collapse;
  padding: 10px;
  font-size: 16px;
  text-align: center;
 
}
.user-table button{
  padding:3px;
  margin-right: 5px;
}


.bx {
  padding: 50px 15px;
  text-align: center;
  font-size: 15px;
}
.bx p{
  padding-bottom: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: white;
  margin: auto;
  border: 1px solid #888;
  width: 55%;
  border-radius: 20px;
}

#fame{
  width: 47%;
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}
#id00,#mymyModal,#dal{
  padding-top: 100px;
  padding-bottom: 100px;
}
.ele{
  padding: 8px 20px;
  background-color: #393E46;
  color: #fff;
  border-radius: 50px;
  font-size: medium;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.hd{
  background-color: #fff;
  font-size: medium;
  cursor: pointer;
  border: 0;
  padding: 10px;
}
.hd:hover{
  color: #00ADB5;
}
.dove p{
  color: gray;
  padding-bottom: 5px;
}
.dove i{
  font-size: 30px;
  color: #00ADB5;
  padding-top: 10px;
}
.dove{
  display: grid;
  grid-template-areas: '1 2';
  gap: 15px;
  margin-top: 15px;
}
.close,.exit {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus, .exit:hover,
.exit:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.div{
  display: flex;
  gap: 50px;
  padding: 15px 20px;
  background-color: white;
  width: 210px;
  border: rgb(207, 203, 203) 1px solid;

}
.justify div{
  display: flex;
  gap: 15px;
}
.dropbtn {
  cursor: pointer;
  border: rgb(207, 203, 203) 1px solid;
  padding: 5px;
  font-size: medium;
  background-color: white;
  width: 95px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

#down,#drop {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: none;
  border-radius: 0;
  border: rgb(207, 203, 203) 1px solid;
  cursor: pointer;
  width: 95px;
}
.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: medium;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.sort{
  display: flex;
  gap: 20px;
}
.sort p{
  padding-top: 6px;
  font-weight: bold;
}
.ort span{color: #00ADB5; font-size: small;}
.ort p{padding: 12px; line-height: 1.3; border-bottom: rgb(207, 203, 203) 1px solid;
}
.ort{
  border: rgb(207, 203, 203) 1px solid;
   margin-top: 15px;
  height: 91%;
}
.oten{
  display: flex;
  gap: 5px;
  font-size: small;
}

