*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* TABLET */
/* Header for tablet */
.nav i{
  display: none;
  }
  .user-library-inbox .tablet-logo{
  display: none;
  height: 70px;
  width: 90px;
  }
  /* Header for tablet */
  
  /* COmic-list */
  .tablet-original{
  display: none;
  width: 100%;
  background-color: black;
  color: #00ADB5;
  padding: 10px;
  }
  /* COmic-list */
  
  /* TABLET */
  
  
  /* Header Start */
  .logoh{
    height: 80px;
    width: 100px;
  }
  #click a{ 
    color: #00ADB5; 
  }
  #clicked{
    color: #00ADB5;
  }
  header{
     display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 100%;
      padding: 10px ;
      gap: 20px;
  }
  
  li,a{
      font-family: Arial, Helvetica, sans-serif;
      font-size:large;
  }
  nav{
    display: flex;
    align-items: center;
    gap:10px;
  }
  .nav{
     display: flex;
  }
  
  .nav li {
      list-style-type: none;
      padding:15px;
  }
  .nav li a {
      color: black;
      text-decoration: none;
      transition: color 0.15;
      font-weight: bolder;
      letter-spacing: 1px;
  
  }
  .nav li:hover a{
      color: #00ADB5;
      padding :3px;
  }
  .user-library-inbox{
    display: flex;
  }
  
  .button-search{
    display: flex;
    align-items: center;
  }
  .user-library-inbox .profile-search{
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .button-search .login-publish{
    display: flex;
    gap:10px;
    width: 100%;
  }
  .login-publish button{
    padding: 8px;
    padding-left:25px ;
    padding-right:25px ;
    border-radius: 50px;
    font-weight: bolder;
    text-decoration: none; 
    border: none;
    transition: background-color 0.15s, color 1s;
    cursor: pointer;
    border: rgb(207, 203, 203) 1px solid;
  }
  .login-publish .publish{
      background-color: black;
      color: #fff;
  }
  
  .search-bar{
   background-color:white;
   display: flex;
   align-items: center;
   border-radius: 50px;
  padding: 8px;
  border: rgb(207, 203, 203) 1px solid;
  }
  .search-bar input{
      background: transparent;
      border: 0;
      outline: none;
      color: black;
  }
  .search-bar button i{
    font-size: 18px;
  }
  .search-bar button{
    background-color: #fff;
    border: none;
  }
  .user-library-inbox {
      display: flex;
      padding: 10px;
      gap:20px;
      align-items: center;
  }
  .user-library-inbox i{
    color: black;
    font-size: 28px;
    transition: opacity 0.15s;
  }
  
  .user-library-inbox i:hover{
    opacity: 70%;
  }
  
  .drop-down img{
    padding: 3px;
    width: 40px;
    height:40px;
    border-radius: 50%;
  }
  
  .drop-down button{
   background: transparent;
   border: none;
   outline: none;
    cursor: pointer;
    transition: opacity 0.15s;
  }
  
  .drop-down {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .drop-down:hover .dropdown-content {
    display: block;
    
  }
  .drop-down:hover button{
   opacity: 70%;
  }
  .dropdown-content i{
  font-size: 15px;
  
  }
  
  .publish{
      background-color: black;
      color: #fff;
      padding: 8px;
      padding-left:25px ;
      padding-right:25px ;
      border-radius: 50px;
      
      font-weight: bolder;
      text-decoration: none; 
      border: none;
      transition: background-color 0.15s, color 1s;
      cursor: pointer;
  }
  .search-bar{
    background-color:white;
    display: flex;
    align-items: center;
    border-radius: 50px;
   padding: 8px;
   border: rgb(207, 203, 203) 1px solid;
   }
   .search-bar input{
       background: transparent;
       border: 0;
       outline: none;
       color: black;
   }
   .search-bar button{
     background-color: #fff;
     border: none;
   }
  /* Header END */

   .library-container{
       display: block;
       width:70%;
       margin: 30px auto auto auto;
       align-items: center;
       padding-bottom: 20%;
   }
   .library-container h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
   }
   .library{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   /* .library .sub-nav{
    display: flex;
    gap: 60px;
    height: 40px;
    width:100%;
    border-bottom: 1px solid #00ADB5 ;
   }
   .sub-nav li{
    list-style-type: none;
   }
   .sub-nav a{
    text-decoration: none;
    color: #00ADB5;
    font-weight: bold;
    font-size: 19px;
   }
   .sub-nav li:hover{
    border-bottom: 1px solid #02767c ;
    color:#02767c;
   }
   .sub-nav a:hover{
    color: #02767c;
    border: none;
   } */
   .sort-edit{
    display: flex ;
    align-items: center;
    justify-content: space-between;
   }

  
.sub-nav{
  background-color: #fff;
  display: flex;
  gap: 60px;
  width:100%;
  justify-content: left;
  padding:18px;
  text-decoration: none;
  font-family: sans-serif;
  border-top: 1px solid rgb(172, 172, 172);
  border-bottom: 1px solid  rgb(172, 172, 172);
}
.sub-nav li{
    list-style-type: none;
    font-weight: bold;
    
}
.sub-nav a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}
.sub-nav h3{
 margin-left: 30px;
 margin-right: 150px;
 text-align: center;
 padding: none;
 font-family: sans-serif;
}



.sort{
    width: 80px;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    margin-top: 10px;
}

.drop{
    font-size: 19px;
    font-family: sans-serif;
}

input[type="checkbox"] {
  display: none;
  }

  #show:checked ~ .select-delete{
      display: block; 
  }
  .editbtn{
    display: flex;
    justify-content: right;
    gap: 30px;
    flex-direction: row-reverse;
    align-items: center;
  }
  .editbtn .edit{
    padding:10px 15px 10px 15px;
    border-radius: 50px;
    background-color: #02767c;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: opacity .15s;
  }
  .select-delete{
    display: none;
    font-family: sans-serif;
    font-size: small;
    
  }
  .select-delete input[type="checkbox"]{
    display: inline;
    
  }
.select-delete button{
   border:none;
    margin-left:20px;
    padding:10px 15px 10px 15px;
    border-radius: 50px;
    background-color: #02767c;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: opacity .15s;
}
.editbtn .edit:hover{
  cursor: pointer;
  opacity: 70%;
}
.select-delete button:hover{
  cursor: pointer;
  opacity: 70%;
}

.rank{
  display: flex;
  gap: 15px;
  padding: 5px;
  justify-content: center;
}
.rank a{
  text-decoration: none;
  width: 80%;
}
.rank p{
  font-size: 12px;
  text-align: center;
}
.rank .details{
  padding: 10px;
  margin-top: 10px;
}
.rank .details p{
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  color: #02767c;
  margin-top: 10px;
}
.rank .details h1{
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.rank li{
  border-radius: 8px;

  display: flex;
  flex-direction: row ;
  background-color: white;
  border: rgb(207, 203, 203) 1px solid;
  gap:10px;
}
.rank img{
  height: 190px;
  width:190px;
  padding:16px;
}
.details h5{
  color: black;

}
.rank li:hover{
  cursor: pointer;
}

.recent{
  background: transparent;
  font-size: 19px;
  margin-top: 10px;
  font-weight: bold;
  font-family: sans-serif;
}
.comic-list {
  list-style: none;
  display: flex ;
  gap: 20px;
  justify-content: flex-start ;
}

.comic-list li {
  padding: 5px;
  width: 180px;
  font-size:14px;
 background-color: white;
 text-align: center;
}
.comic-list .heart i{
  color: #00ADB5;
  font-size: 12px;
  padding-top:10px;
}
.comic-list a{
  text-decoration: none;
  color:black;
}
.comic-list h3{
  font-size: 16px;
}
.comic-list img {
  width: 100%;
  height: 200px;
  padding: 2px;
}

.comic-list i{
  color: #00ADB5;
  font-size: small;
}



.subscribed-list {
  list-style: none;
  display: flex ;
  gap: 20px;
  justify-content: center;

}

.subscribed-list li {
  padding: 10px;
  font-size:14px;
   background-color: white;
   display: flex;
   gap:20px;
   width:500px;
   border: rgb(207, 203, 203) 1px solid;
   border-radius: 8px;
}
.subscribed-list .heart i{
  color: #00ADB5;
  font-size: 12px;
  padding-top:10px;
}
.subscribed-list a{
  text-decoration: none;
  color:black;
}
.subscribed-list h3{
  font-size: 25px;
}
.subscribed-list p{
  color: #02767c;
  font-weight: bold;
}
.subscribed-list img {
  width: 30%;
  height: 180px;
  padding: 2px;
}
.subscribed-list .update{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.subscribed-list i{
  color: #00ADB5;
  font-size: small;
}





.comment-container{
    width:100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    padding: 29px 30px 30px 30px;
    border-radius: 10px;
    background-color: white;
   
}
.comments{
  width: 90%;
}
.comments .heading{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.heading h3{
  font-size: 18px;
}
.heading button{
  border: none;
  color:rgb(87, 81, 81);
  background-color: rgb(207, 207, 207);
  padding: 6px 15px 6px 15px;
  font-size: 14px;
}
.comments button:hover{
  cursor: pointer;
}
.comments .comment{
  border-bottom: rgb(194, 194, 194) 1px solid;
  padding-bottom:10px;
  padding-top: 15px;
}
.comment .content{
  padding:10px;
  width:90px;
  color: rgb(87, 81, 81);
}
.comment .thumbs{
  padding:10px;
  display: flex;
  justify-content: flex-end;
  gap:20px;
 
}
.mins-thumbs{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: rgb(124, 123, 123);
}
.thumbs button{
  border: none;
  outline: none;
  background: transparent;
  color: rgb(124, 123, 123);
  font-family: sans-serif;
}
.thumbs i{
  font-size: 12px;
}
.mins-thumbs .mins{
  font-size: 13px;

}


.following-container{
  display: flex;
  gap:20px;
  font-family: sans-serif;
}
.following{
   padding:20px;
  background-color: white;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  width: 220px;
  height:210px;
  border: 1px solid rgb(192, 192, 192);
}
.following .detail{
  display: flex;
  flex-direction: column;
  gap:10px
}
.following a{
  text-decoration: none;
  color:black;
}
.detail img{
  padding-top:10px;
  width: 48%;
  height:55%;
  border-radius: 50%;
margin: auto;
}
.detail h3{
  padding-top:10px;
  font-size: medium;
}
.detail .series-followers{
  display: flex;
  justify-content: center;
  gap:15px;
}
.series-followers h5{
  margin-top:5px;
  font-size: 12px;
 
}











/* Footer */

footer{
  background-color: #EEEEEE;
  padding: 50px;
}
.media{
  display: flex;
  font-size: large;
  justify-content: center;
  gap: 30px;
  
}
.f_others{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.f_others a{
  text-decoration: none;
   color: #000;
    }
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.credits{
  font-size: small;
  text-align: center;
}
.number{
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px;

}
.num{
  text-decoration: none;
  color: black;
  font-size: medium;
}
.num1{
  text-decoration: none;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #00ADB5;
  text-align: center;
  font-size: medium;
  position: relative;
}
.click a{
  font-size: small;
  text-decoration: none;
  margin: 18px;
  color: #00ADB5;
  font-weight: bold;
}
/* Footer */

  /* MODAL EXTRA */
  
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  }
  
  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
  .coins{
    display: grid;
    grid-template-areas: '1 2 3';
    gap: 20px;
    text-align: center;
    margin-top: 15px;
  }
  .coins img{
    width: 50px;
    height: 40px;
  }
  .coins div{
    border: rgb(207, 203, 203) 1px solid;
    padding-top: 20px;
    padding-bottom: 0;
    width: 140px;
  }
  .coins p{
    background-color: rgb(207, 203, 203);
    padding: 10px;
  }
  .coins h2{ padding: 15px 0;}
  .coins span{ color: #00ADB5;}
  
  .dragon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: rgb(207, 203, 203) 1px solid;
    padding-bottom: 10px;
    background-color: white;
  }
  .dragon h2{
    padding-top: 2px;
    color: #393E46
  }
  .save{
    background-color: #EEEEEE;
    border-radius: 50px;
    padding: 6px 15px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    gap: 10px;
    font-size: 19px;
  }
  .prom{
    display: flex;
    gap: 30px;
    text-align: justify;
  }
  .in{
    background-color: white;
    display: flex;
    justify-content: center;
  }
  .out{
    width: 61%;
    margin: 70px 0;
  }
  .in h1{font-size: 32px;}
  .in input{
    font-size: medium;
    padding: 9px;
    width: 100%;
    outline: none;
  }
  .in h4{padding-bottom: 15px;}
  .in button{
    background-color: #00ADB5;
    color: white;
    font-size: medium;
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  .in span{font-weight: bold;}

   /* MODALS */

.bx {
  padding: 50px 15px;
  text-align: center;
  font-size: 15px;
}
.bx p{
  padding-bottom: 30px;
}
.delete-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.delete-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 20px;
}
#fame{
  width: 47%;
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}
#myModal,#mymyModal,#dal{
  padding-top: 50px;
  padding-bottom: 50px;
}
.ele{
  padding: 8px 20px;
  background-color: #393E46;
  color: #fff;
  border-radius: 50px;
  font-size: medium;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
/* MODALS */
  /* MODAL EXTRA */



/* DARKMODE */
.profile-search .mode{
  background: transparent;
  border: none;
  outline: none;
  display: none;
}
.profile-search .mode i{
  color: black;
  font-size: 27px;
}
.light-mode {
  background-color: #f1f1f1;
  color: #000000;
}

/* Dark mode styles */
.dark-mode {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0;
}

.light-mode #light{
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark-mode #dark{
  background-color: #000000;
  color: #ffffff;
  box-shadow: none;
  border:none;
}
.dark-mode #dark-icon i{
  color: white;
}
.dark-mode #light button{
  color: #000;
  background-color: white;
  border-radius: 50px;
}
.dark-mode #theme-toggle i{
  color: white;
}
.dark-mode #shadow{
  box-shadow: none;
}

.dark-mode #coins{
  background-color: rgb(126, 126, 126);
}


.dark-mode #container{
  background-color: #000;
  border-bottom:1px solid gray;
  border-top:1px solid gray;
}
.dark-mode .f_others a{
  color: white;
 }
 .dark-mode .comic-list li{
  background-color: rgb(51, 48, 48);
 }
.dark-mode .comic-list h3{
  color: white;
}
.dark-mode header{
  background-color: #000;
}
.dark-mode .nav a{
  background-color: #000;
  color: white;
}
.dark-mode .profile-search i{
  color: white;
}
.dark-mode .publish{
  background-color: white;
  color: #000;
}
.dark-mode .sub-nav{
  background-color: #000;
  border-top: 1px solid gray;
}
.dark-mode .sub-nav a{
  color: white;
}
.dark-mode .genre a{
  color: white;
}
.dark-mode .comics-container{
  background-color: #000;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.dark-mode .menu select{
  background-color: #000;
  color: white;
}
.dark-mode footer{
  background-color: #000;
  border-top: 1px solid gray;
}
.dark-mode .search-bar i{
  color: #000;
}
.dark-mode .dropdown-content{
  background-color: white;
  color: white;
}
.dark-mode .dropdown-content i{
  color: #000;
}
.dark-mode .modal-content .save{
  background-color: #000;
}
.dark-mode .coins p{
  background-color: #000;
}
.dark-mode .coins h2{
  color: #000;
}
.dark-mode .subscribed-list li{
  background-color: black;
  color: white;
}
.dark-mode .rank li{
  background-color: #000;
}
.dark-mode .rank .details h1{
  color: white;
}
.dark-mode .details h5{
  color: white;
}
.dark-mode .comment-container{
  background-color: #0f0f0f;
  color: white;
}
.dark-mode .content{
  color: white;
}
.dark-mode .heading button{
  background-color: white;
  color: #000;
}
.dark-mode .delete-content{
  background-color: #000;
  color: white;
}
.dark-mode .following{
  background-color: #181818;
}
.dark-mode .following .detail{
  color: white;
}
/* DARKMODE */
